#entrybox {
	margin-top: 20px;
}
section {	
	background-color: white;
	padding-bottom: 5%;
}
#login,#signup {
	margin-left: 42%;
	width: 15%;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 150%;
	border-radius: 5%;
	color: white;
	background-color: gray;
	padding-bottom: 5px;
}
#login {
	margin-top: 40px;
}

img {
	padding-left: 5px;
	padding-top: 5px;
	float: left;
}
#signup:hover, #login:hover {
	background-color: green;
	color: white;
	box-shadow: 10px 10px 10px grey;
	text-decoration: none;
	
}