#entrybox {
	margin-top: 20px;
}
section {	
	background-color: white;
	padding-bottom: 5%;
}
#login,#signup {
	margin-left: 42%;
	width: 15%;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 150%;
	border-radius: 5%;
	color: white;
	background-color: gray;
	padding-bottom: 5px;
}
#login {
	margin-top: 40px;
}

#login-box {
	height: 100%;
	border: solid red 2px;
}

#login-image {
	display: inline-block;
	background-image: url("../images/FreeWeights.jpg");
	background-size: auto;
	height: 40ch;
	width: 40%;
	border: solid green 2px;
	margin-right: 2%;
}

#login-form-box {
	border: solid red 4px;
	display: inline-block;
	width: 55%;
}

img {
	padding-left: 5px;
	padding-top: 5px;
	float: left;
}
#signup:hover, #login:hover {
	background-color: green;
	color: white;
	box-shadow: 10px 10px 10px grey;
	text-decoration: none;
	
}
