@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,300,700);

body { 
	margin: 5% 20%;
	/*font-family: 'Open Sans', sans-serif;*/
	background-image: url("../images/FreeWeights.jpg");
	
}
h1 {
	color: gold;
	margin-left: 40%;
	font-size: 400%;
	padding-top: 5%;
	padding-bottom: 2%;
	text-shadow: 1px 1px 1px black;
}
h3 {
	text-align: center;
	color: blue;
}
a{
	color: yellow;
}

#carousel {	
	background-color: grey;
}

h2{
	text-align: center;
}

#description{
	padding-bottom: 5%;
}

.top-content {
	width: 100%;
	padding: 60px 0 120px 0;
}

.top-content .carousel-control-prev {
	left: -110px;
	border-bottom: 0;
}

.top-content .carousel-control-next {
	right: -110px;
	border-bottom: 0;

}

.top-content .carousel-indicators { 
	bottom: -80px;
}

.top-content .carousel-indicators li {
	width: 16px;
	height: 16px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 50%;
}

#likes{
	height:5px;
	width:50%;
	background:green;
	float:left;
	
}
#dislikes{
	height:5px;
	width:50%;
	background:red;
	float:right;
}

.LikeButton {
	width: 50%;
	float: left;
}

.DislikeButton {
	width: 50%;
	float: right;
}

#caption{
	margin-top: 1%;
	margin-right: 70%;
}

#buttons{
	width: 25%;
	margin-top: 1%;
	float: right;
}