@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,300,700);

body { 
	margin: 5% 20%;
	/*font-family: 'Open Sans', sans-serif;*/
	background-image: url("../images/FreeWeights.jpg");
	
}
h1 {
	color: gold;
	margin-left: 40%;
	font-size: 400%;
	padding-top: 5%;
	padding-bottom: 2%;
	text-shadow: 1px 1px 1px black;
}
h3 {
	text-align: center;
	color: blue;
}
a{
	color: yellow;
}